@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;;
  }

*{margin: 0;
position: 0;
}

header{
    background-color: var(--main-bg-color);
    /* border: 2px solid red; */
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:88px;
    padding: 0 25px;

}
nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    }

nav ul li a:hover{
        color: rgb(190, 182, 182);
       font-weight: bolder;
        /* font-family: 'Lato', sans-serif; */
        }

nav ul{
    height: 58px;
    display: flex;
    /* justify-content:flex-start; */
    align-items: center;
    /* padding: 5px; */

}

.container{
      min-height: calc(100vh - 58px - 12vh);
}

.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width: 30vw;
    height: 23px;
    border-radius: 5px;
    margin: 0 6px 0 56px;
    padding: 0 12px;
}
.search btn{
    font-weight: 900px;
}
.slider{
    margin:auto;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.carts{
     display: flex;
     overflow: hidden;
     /* overflow: scroll; */
     /* flex-direction: row;
     justify-content: center; */
}
.cart h2{
    font-family: 'Lato', sans-serif;
}
.cart{
     max-width: 91vw;
     margin: 37px auto;
     /* margin-left: 110px; */
}
.cart-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px ;
}
footer{
    height:12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}